body {
  padding: 10px;
  font-size: 12px;
}

.ld-link {
  display: flex;
  align-items: center;
}
.ld-link input {
  display: inline-block;
  width: 220px;
  height: 30px;
}
.ld-link button {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  width: 60px;
}
